<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Celebrity HallPass!</title>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
          <a class="navbar-brand" href="">Hall Pass</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/myhallpass">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/celebs/new">Add Celebrity</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Friends</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
	<div class="container">
	<h1>Welcome to Celebrity HallPass!</h1>
	<br><br>
	

	{% if messages %}
	<ul class="messages">    
	    {% for message in messages %}    
	        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
	    {% endfor %}
	</ul>
	{% endif %}
		<div style="display: inline-block; width: 40%; vertical-align: top;">
			<h2>Login</h2>	
			<br>
			<form  action="/login" method="post">
				{% csrf_token %}
				<label for="email">Email</label>
				<input class="form-control" type="text" name="email">
				<br>
				<label for="password">Password</label>
				<input class="form-control" type="password" name="password">
				<br>
				<input class="btn btn-primary" type="submit" name="Log In">
			</form>
		</div>
		<div style="display: inline-block; width: 40%; margin-left: 50px;">
			<h2>Not a member?</h2>
			<h5>Lets get your VIP badge!</h5>
			<br>
			<form action="/register" method="post">
				{% csrf_token %}
				<div class="form-group">
				<label for="fname">First Name</label>
				<input class="form-control" type="text" name="fname">
				<br>
				<label for="lname">Last Name</label>
				<input class="form-control" type="text" name="lname">
				<br>
				<label for="email">Email</label>
				<input class="form-control" type="text" name="email">
				<br>
				<label for="password">Password</label>
				<input class="form-control" type="text" name="password">
				<br>
				<label for="password_confirm">Confirm PW</label>
				<input class="form-control" type="text" name="password_confirm">
				<br><br>
				<input class="btn btn-primary" type="submit" name="Register">
				</div>
			</form>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>